<nav class="navbar navbar-inverse ">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><!-- Popcorn Time Filled icon by Icons8 -->
            </a>
          <a class="navbar-brand" href="#">Resturent App</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
              <li><a  routerLink=''>Reservations</a></li>
              <li><a routerLink='/buy'>Buy</a></li>
             
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#!/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
              <li><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
      </div>
  </div>
</nav>
